body{
	background-color: #f2f2f1;
	background-image: linear-gradient(white 4px, transparent 2px),
	linear-gradient(90deg, white 4px, transparent 2px),
	linear-gradient(white 2px, transparent 2px),
	linear-gradient(90deg, white 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size: 180px 180px, 180px 180px, 60px 60px, 60px 60px, 20px 20px, 20px 20px;
	background-position:-4px -4px, -4px -4px, -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

table{
	border-collapse: collapse;
}

h1{
	text-align: center;
	color: black;
	
}

table td:nth-of-type(3n){
	border-right: solid;
}
table tr:nth-of-type(3n){
	border-bottom: solid;
}
table tr {
	margin = 0;
	padding = 0;
}

td{
	padding: 5px;
	border: solid 1px;
}

td, .inpcell
{
	width: 40px;
	height: 40px;
	font-size: 25px;
	text-align: center;
	cursor: default;
	background-color: white;
}

.inpcell:hover{
	background-color: #aaffaa;
}
table tr td:nth-of-type(9){
	border-right: solid 1px;
}
table tr:nth-of-type(9){
	border-bottom: solid 1px;
}
.known, .highlighted{
	background-color: #ccccff;
	opacity: 1;
}
.sudoku_wrapper{
	margin: auto;
	padding: auto;
	width: 450px;
}

button{
	width: 40%;
	height: 30px;
	border: solid;
	border-color: #88cc88;
	background-color: #aaffaa;
}
button:hover{
	background-color: white;
}

.buttons{
	display: flex;
	justify-content: space-between;
}

.solve{
	margin-left: 0px;
}
.another{
	margin-right: 0px;
}

.inpnum
{
	justify-content: space-between;
	display: flex;
}

.buttons, .inpnum{
	margin-top: 10px;
}

.inpnum div{
	border: solid;
	border-color: #88cc88;
}

.highlighted_inp{

	background-color: #aaffaa;
}
.hidden{
	display: none;
}

.error{
	color: red;
	margin-top: 5px;
}
